#cadastraParceiro{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    padding: 40px;
}

.container{
    margin: 0 auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxe{
    text-align: right;
}

#boxes{
    width: 50%;
    border: 1px solid black;
}

#numero{
    width: 60px;
}

button{
    margin: 20px;
    padding: 10px;
    font-size: large;
}